.main-heading {
  font-size: 7rem;
  line-height: 0.85;
  font-weight: 600;
  margin-top: 2rem;
}

.translate-middle-x {
  transform: translateX(-50%);
}

.min-w-fit-content {
  min-width: fit-content !important;
}

.custom-gradient {
  background: linear-gradient(to right, #d95db0, #3344dc);
}

.min-w-10 {
  min-width: 10rem;
}

.right-24 {
  right: 6rem;
}

.start-82 {
  left: 82%;
}

.custom-top-right {
  top: 25%;
  right: 0;
}

.max-w-777 {
  max-width: 777px;
}
.max-w-500 {
  max-width: 500px;
}
.right-3 {
  right: 3rem;
}
.custom-max-w-4xl {
  max-width: 56rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 10s linear infinite;
}

.-rotate-2 {
  transform: rotate(-2deg);
}

.text-12 {
  font-size: 12rem;
}

.text-gray-100 {
  color: #0000000f;
}

.bg-gray-100 {
  background: #f4f4f4;
}

.max-w-1008 {
  max-width: 1008px;
}

.max-w-20rem {
  max-width: 20rem !important;
}

.max-w-640px {
  max-width: 640px;
}

.my-5rem {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.max-w-18rem {
  max-width: 18rem;
}

.w-90 {
  width: 90%;
}

.w-93 {
  width: 93%;
}

.max-w-fit {
  max-width: fit-content;
}

.custom-hover:hover {
  background-color: #3344dc;
  color: #ffffff;
  cursor: pointer;
}

.mb-15rem {
  margin-bottom: 15rem;
}

.custom-border-color {
  border-color: #3344dc !important;
}

.custom-border-width {
  border-top-width: 4px !important;
  border-left-width: 4px !important;
  border-right-width: 4px !important;
}

.border-top-color {
  border-color: #d95db0 !important;
}

.-left-4rem {
  left: -4rem;
}

.ml-4 {
  margin-left: 4rem !important;
}

.h-600 {
  height: 600px;
}
